.button_wrap
   font-size: 12px

.button__title
   bold()
   uppercase()
   margin-bottom 15px

/* Стандартные кнопки с градиентом и рамкой  */

height_btn = 32px
border_radius_btn = 22px
max_widh = 320px
min_width = 50px

.btn
   padding 0 20px
   font-size: 12px
.gradient__button
   max-width: max_widh
   min-width: min_width
   height height_btn
   display: flex
   align-items: center
   justify-content center
   uppercase()
   bold()
   font-weight: 700
   padding 2px 2px
   color: white 
   background $gradient
   border-radius: border_radius_btn
   box-sizing: content-box


.border-gradient
   max-width: max_widh
   min-width: (min_width - 3)
   box-sizing: content-box
   display: flex
   align-items: center
   justify-content center
   height height_btn
   border-radius: (border_radius_btn + 2)

   color: $purple
   font-weight: bold
   background: white
 
.gradient__button:hover
   gradient--50()  


/* Текстовая кнопка  */

.button__text
   uppercase()
   bold()
   color: $purple

.button__text:hover
   color: $black--50


/* Кнопка со стрелкой  */

.button__arrow
   
   width 320px
   display flex
   justify-content: center

.gradient__button .material-icons
   
   display: flex
   align-items: center
   margin-left -35px
