.button_wrap
   font-size: 0.8571rem
   max-height: 44px

.button__title
   bold()
   uppercase()
   margin-bottom 15px
   font-size: 0.8571rem

.button_body
   uppercase()
   bold()

/* Текстовая кнопка  */
.button_text_wrap
   height 15px
.text__btn
   uppercase()
   bold()
   color: $purple
   cursor pointer

.text__btn:hover
   color: $black--50

 /* кнопка для отправки данных со стрелкой */

.buttton__submit
   width 320px
   height 44px
   cursor pointer
   bold()
   uppercase()
   
   gradient()
   border-radius: 22px;
   display flex
   align-items: center
   justify-content: center
   color: white
   position relative

.buttton__submit .material-icons
   right  15px
   position absolute

.buttton__submit:hover
   gradient--50()  

 /* кнопка с рамкой для перехода или отрытия событий */

.border__btn
   display: flex
   align-items: center
   justify-content: center
   height: 44px;
   position: relative;
   max-width: 99px;
   padding: 0 20px
   color: $purple
   
   box-sizing: content-box
   border-radius: 22px;
   background: #fff;

.border__btn:after
   content: "";
   position: absolute;
   top: -2px;
   bottom: -2px;
   left: -2px;
   right: -2px;
   gradient()
   border-radius: 22px + 2;
   z-index: -1;

.border__btn:hover:after
   gradient--50()

/* кнопка с заливкой для перехода или отрытия событий */

.fill__btn
   gradient()
   display: flex
   align-items: center
   justify-content: center
   position: relative;
   max-width: 99px;
   padding: 0 20px
   box-sizing: content-box
   border-radius: 22px;
   color white
   height: 44px;

.fill__btn:hover
   gradient--50()