mixin sign_in_card()
   .sign_in_card__wrap
      form()#sign_in_card
         .sign_in_card__title
            h1 Войти
         .sign_in_card__body
         
            +text_field({
               elems: [
                  {type: "email"},
                  {type: "password", placeholder: "Пароль"}
               ]
               })

            +button({name: "войти", arrowBtn: true})

            .sign_in_block-registration
               p Нет аккаунта на Toxin?
               +button({ gradientBorder: true, name: "Создать"})