.sign_in_card__wrap
   width 100%
   max-width: 380px
   height: 358px
   border: 1px solid rgba(0, 0, 0, 0.12)
   box-sizing: border-box
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
   border-radius: 4px
   display: flex
   flex-wrap: wrap
   padding: 40px 30px 30px 30px
   background: $white
   z-index 0
   form
      width 100%

.sign_in_card__body
   margin-top 20px

.text_field__wrap + .button_wrap
   margin 20px 0 30px 0

.sign_in_block-registration .button_wrap
   max-width 91px

.sign_in_block-registration
   display: flex
   justify-content: space-between
   align-items: center
   color: #000

@media screen and (max-width: 350px) {
  .sign_in_card__wrap {
      padding: 40px 15px 30px 15px
   }
}