mixin like_button(options)

   .like_button_wrap
      .like_button__head
         h3(class= options.title ? "like_button__title" : '' )= (options.title ? options.title : '')
      .like_button_body(class= options.check ? "like_button--checked" : "")
         i.fa-heart(class= options.check ? "fas" : "far")
         span.like__quantity= options.quanity ? options.quanity : "12"