mixin bullet_list(options)

   .bullet_list__wrap
      .bullet_list__title
         h3= options.title
      ul.bullet_list__options
         each item in options.items
            li.bullet_list__option
               span.bullet_list__circle
               span.bullet_list__text= item.name
               
