.bullet_list__title
   bold()
   uppercase()
   margin-bottom 15px


.bullet_list__option
   display flex
   margin-top 10px

.bullet_list__circle
   width: 10px
   height: 10px

   background: $black--25
   border-radius: 50%
   margin 4px 10px 0 0 
   


.bullet_list__text
   color: $black--75
   max-width 270px
   