.header_wrap
  margin: 0 auto
  width 100%
.header
   max-width 1160px
   margin: 0 auto
   display flex
   flex-wrap: nowrap
   justify-content space-between
   color: $black--50
   align-items: center 
   height 70px
   padding: 0 15px 0 15px
.header__navbar-wrapper
   display flex
   flex-wrap: nowrap
   justify-content space-between
   align-items: center
   max-width 527px
   flex-basis: 60%
   margin-left 25%
   li
      display flex 
      align-items: center
.navbar__link
   color: $black--50
.logo__link
   display flex
   align-items: center
   flex-basis: 35%
   img:nth-child(2)
      margin-left 12.5px
// .navbar_arrow
//    color: $black--50
.header__user_logged:before
   content: ''
   width 1px
   height 30px
   margin-right 30px
   background rgba(31, 32, 65, 0.1)

/* Авторизованный пользователь */

.header__user_logged
   display flex
   align-items: center
   display none

/* Гость без авторизации */

.header__login_block
   display flex
   align-items: center
   justify-content space-between

width_btn = 80px
height_btn = 34px
border_radius_btn = 22px
.login__btn
   display: flex
   align-items: center
   justify-content center
   
   width: width_btn
   height: height_btn
    
   background $gradient
   margin-left 40px
   border-radius: border_radius_btn


.border-gradient
   display: flex
   align-items: center
   justify-content center
   
   width: (width_btn - 4)
   height: (height_btn - 4)
   border-radius: (border_radius_btn + 2)

   color: $purple
   font-weight: bold
   font-size: 12px
   uppercase()
   background: white
      
.registr__btn
   margin-left 20px
   background $gradient
   color: white
   padding: 9px 20px
   border-radius: 22px
   display: flex
   align-items: center
   font-weight: bold


