.checkbox__head
   cursor pointer

.dropdown_checkbox_wrap .checkbox__options
   opacity: 1
   position absolute
   transition(0.3s)

.checkbox__title, .rich_checkbox__title
   display: flex
   align-items: center

.checkbox__arrow
   color: $black--50
   transform: rotate(180deg) 

.checkbox__option
   display flex
   
   margin 10px 0 0 0
   align-items: center  
   color: $black--50

   input
      visibility hidden
      height 0
      width 0

.check__box
   width: 20px
   height: 20px
   display flex
   flex-shrink: 0
   justify-content: center
   align-items: center

   border: 1px solid $black--25
   border-radius: 4px
   margin-right 10px
   cursor pointer
   
.checkbox__done
   visibility hidden   
   background: linear-gradient(#BC9CFF, #8BA4F9)
   -webkit-background-clip: text
   color: transparent 

.checkbox__option input:focus + .check__box
   border: 1px solid $purple

.checkbox__option input:hover + .check__box
   border: 1px solid $purple

.checkbox__option input:checked + .check__box
   border: 1px solid $purple
   
.checkbox__option input:checked + .check__box .checkbox__done
   visibility visible

.checkbox--hidden 
   transition(0.3s)
   max-height: 0;
   overflow: hidden;
   opacity: 0;

.checkbox__arrow--rotate
   transform: rotate(360deg);

.sub__text
   display: block
   margin 5px 0 0 32px
   color: $black--50

.label__title_bold
   bold()