
mixin checkbox(title, ...items)
   .checkbox_wrap
      .checkbox__head
         .checkbox__title= title
            i.material-icons.checkbox__arrow expand_more
      ul.checkbox__options
         each item in items
            li
               label.check.checkbox__option
                  input(type="checkbox")
                  = item
                  span
            

            