.irs-from, .irs-to, .irs-single, .irs-max, .irs-min
   display: none

.irs--flat .irs-line
   width: 266px
   height: 6px
   
   border: 1px solid $black--25
   border-radius: 3px
   background-color: white

.irs--flat .irs-bar
   width: 88px
   height: 8px

   background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
   border-radius: 3px;

.irs--flat .irs-handle
   margin-top 1px
   width: 12px;
   height: 12px;

   background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
   border: 2px solid #FFFFFF;
   border-radius: 10px;
   cursor pointer

.irs--flat .irs-handle > i:first-child
      display none

.irs--flat .irs-handle:hover
   transform: scale(1.5)



.range_slider__head
   display flex
   justify-content: space-between

.range_slider__title
   uppercase()
   bold()

.range_slider__price
   uppercase()
   color: $black--50
   montserrat()