.room_wrap
   width: 270px;
   height: 257px;
   
   box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
   border-radius: 4px;

.room_photo__slider
   width: 270px;
   height: 151.38px;
   position relative
   img
      width 100%
      border-radius: 4px 4px 0 0


.room_slider__next, .room_slider__prev
   position absolute
   top: 40%
   color: white
   font-size: 1.7143rem;


.room_slider__next
   left 85%
   
.room_slider__prev
   left 5%
   z-index 100
