mixin data_dropdown(options)
	
   -
      let idName = "-" + options.id
   
   if (options.filter === true)
      .filter_dropdown__wrap
         .data_dropdown__body
            label(class= options.title ? "filter_dropdown__title" : "")= options.title ? options.title : ""
               input.filter_dropdown__input(type="text" id="filter" + idName data-range="true" data-multiple-dates-separator=" - ")
               i.material-icons.data_dropdown__arrow expand_more
   else
      .data_dropdown__wrap
         .data_dropdown__body
            label.data_dropdown__title= options.firstDataName
               input.data_dropdown__input(type="text" placeholder="ДД.ММ.ГГГГ" id="range_start" + idName data-range="true" data-multiple-dates-separator="-")
               i.material-icons.data_dropdown__arrow expand_more
            label.data_dropdown__title= options.lastDataName
               input.data_dropdown__input(type='text' placeholder="ДД.ММ.ГГГГ" id='range_end' + idName)
               i.material-icons.data_dropdown__arrow expand_more
         