.data_dropdown__wrap
   max-height: 65px

.data_dropdown__body
   display flex
   // flex-wrap: wrap
   
.data_dropdown__arrow
   position absolute
   right: 10px;
   top: 50%;
   color: $black--50

//Фильтр дат
.filter_dropdown__title
   bold()
   uppercase()
   max-width 265px
   position relative
   font-size: 0.8571rem

.filter_dropdown__input
   margin-top 5px
   width: 266px;
   height: 44px;

   border: 1px solid $black--25;
   box-sizing: border-box;
   border-radius: 4px;
   padding: 10px 15px
   text-transform: lowercase

//Диапазон дат
.data_dropdown__title
   max-width 150px
   bold()
   uppercase()
   margin-right 20px
   position relative
   font-size: 0.8571rem

.data_dropdown__title:last-child
   margin-right 0

.data_dropdown__input
   margin-top 5px
   width: 150px;
   height: 44px;
  
   border: 1px solid $black--25;
   box-sizing: border-box;
   border-radius: 4px;
   padding: 10px 15px
   

// Стили календаря

// Общие стили
.datepicker 
   font-size: 0.8571rem
   width: 320px;
   height: 369px;
   font-family: 'Quicksand-Regular','Montserrat-Regular', sans-serif
   
.datepicker--nav-title
   bold()
   font-size: 1.3571rem

.datepicker--nav
   border-bottom: none

.datepicker--content
   margin-top 15px
.datepicker--days-names
   width 90%
   margin: 0 auto 
   justify-content: center

.datepicker--day-name
   font-size: 0.8571rem
   text-transform: none
.datepicker--day-name,.datepicker--button-apply
   bold()

// Стили ячеек

.datepicker--cells
   margin-top 15px
   justify-content: center
   height: 230px;
.datepicker--cell
   width: 40.14px;
   height: 40.44px;

.datepicker--cell-day.-current-
   width: 39.88px;
   height: 40px;
   background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
   border-radius: 50%
   color: white
   font-weight: bold;

.datepicker--cell-day.-current-.-focus-
   color: white

.datepicker--cell-day.-focus-
   background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
   opacity: 0.5;
   color: white
   border-radius: 50%

.-range-from-.-selected-,.-range-to-.-selected-
   background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
   border-radius: 50%

.-range-from-.-selected-:hover,.-range-to-.-selected-:hover
   background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
   border-radius: 50%
   opacity: 0.5;

// Выбор диапазона
.-range-from-.-selected-:after
   content: ""
   display: block
   background: linear-gradient(180deg,#bc9cff40,#8ba4f940);
   width 100%
   height 100%
   position absolute
   z-index -2
   border-radius: 100px 50%  50% 100px;

.-range-to-.-selected-:before
   content: ""
   display: block
   background: linear-gradient(180deg,#bc9cff40,#8ba4f940);
   width 100%
   height 100%
   position absolute
   z-index -2
   border-radius: 50% 100px 100px 50%;

.datepicker--cell.-current-.-in-range-
   width: 39.88px;
   height: 40px;
   background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
   color: white
   font-weight: bold;
   border-radius: 0
   
.datepicker--cell.-in-range-.-focus-
   background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
   color: $black
   border-radius: 0
   opacity: 0.5;

.datepicker--cell.-in-range-
   background: linear-gradient(180deg,#bc9cff40,#8ba4f940);
   color: $black

// Стили Кнопок
.datepicker--buttons
   border: none
   margin-top 5px
.datepicker--button
   bold()
   uppercase()
   color: $black--50

.datapicker_arrow,.datepicker--day-name,.datepicker--button-apply
   color: $purple

.datepicker--button-apply:hover
   color: $black--50


