mixin rate_button(options)
   -
      let starsQuantity = 5,
         starsActive = options.starsActive ? options.starsActive : 1
         
   .rate_button_wrap
      if (options.title === undefined)
         .rate_button_body
            -for(let b = 0; b < starsQuantity; b++) {
                  i.material-icons.rate_star(class= (starsActive - 1 == b) ? "active" : "")
            -}   
            
      else
         .rate_button_head
            .rate_button__title= options.title
         .rate_button_body
            -for(let b = 0; b < starsQuantity; b++) {
               i.material-icons.rate_star(class= (starsActive - 1 == b) ? "active" : "")
            -}   
