.rate_button__title
   bold()
   uppercase()
   font-size: 0.8571rem
   margin-bottom 15px

.rate_button_body
   cursor pointer
   .material-icons 
      gradient()
      -webkit-background-clip: text
      color: transparent

.rate_star.active ~ .rate_star:after
   content: "star_border"
.rate_star:after
   content: "star"

.rate_button_body:hover .rate_star:after
   content: "star"

.rate_star:hover ~ .rate_star:after
   content: "star_border"
