include ./room_search/room_search
include ./booking/booking
include ./registration/registration
include ./sign_in/sign_in

+room_search_card()
+booking_card({luxury: true})
+registration_card({})
+sign_in_card()