include ./room_search/room_search
include ./booking/booking
include ./registration/registration
include ./sign_in/sign_in
include ./room/room

+room_search_card()
+booking_card({luxury: true})
+registration_card({})
+sign_in_card()
+room({elems: [
   {luxury: true},
   {roomNumber: 840, roomPrice: 9900, starsActive: 4, roomReviews: 65},
    
]})
