$black = #000000
$black--75 = rgba(31, 32, 65, 0.75)
$black--50 = rgba(31, 32, 65, 0.50)
$black--25 = rgba(31, 32, 65, 0.25)
$black--5 = rgba(31, 32, 65, 0.05)
$purple = #BC9CFF
$green = #6FCF97 
    /* Основной градиент сайта голубой + фиолетовый*/
$gradient = linear-gradient(#BC9CFF, #8BA4F9);

$bold = 'Quicksand-Bold'
    

uppercase()
    text-transform: uppercase

bold()
    font-family: 'Montserrat-Bold', sans-serif
    font-weight: 800
    color: $black


transition() {
  -webkit-transition: all ease arguments;
   -moz-transition: all ease arguments;
   -ms-transition: all ease arguments;
   -o-transition: all ease arguments;
   transition: all ease arguments;
}  

montserrat() {
    font-family: 'Montserrat-Regular', sans-serif
}

html
    font-size:14px
    color: $black--75
    
h1
    font-size: 1.7143rem
    font-family: 'Quicksand-Bold'
h2
    font-size: 1.3571rem
    font-family: 'Quicksand-Bold'
    font-weight: 800
h3
    font-size: 1.0714rem
    font-family: 'Quicksand-Bold'
    font-weight: 800
body
    font-size: 1rem

.--bold
    font-family: 'Montserrat-Bold', sans-serif
    font-weight: bold
    color: $black!important

.colors
    display: flex
    align-items: center
    margin-bottom: 20px
.color__header
    margin-left 40px
.color__square
    height 70px
    width: 70px
    border-radius: 6px
.black
    background: $black
.black--75
    background: $black--75
.black--50
    background: $black--50
.black--25
    background: $black--25
.black--5
    background: $black--5
.purple
    background: $purple
.green
    background: $green

.type_column
    display: flex
    
.type__name
    color: $black--25
    text-align: right 
    margin-right 20px
.type__text
    width: 70%
.type__text li
    margin-bottom: 50px
.name__h1
    font-size: 1.7143rem
    margin-bottom 78px
.name__h2
    font-size: 1.3571rem
    margin-bottom 50px
.name__h3
    font-size: 1.0714rem
    margin-bottom 50px