
mixin room_details(options)

   .room_details__wrap
      .room_details__header= options.header
      ul.room_details__options
         each elem in options.elems
            li.room_details__option
               .room_details__img
                  img(src="", alt="")
               .room_details__title
                  span.details__sub_title
