.room_details__option
   display flex
   flex-wrap: wrap
   align-items: center
   justify-content: space-around
   max-width 300px



.room_details__option:after
   content: ''
   display: flex
   justify-content: center
   margin 20px 0
   
   width: 280px
   // max-width 280px
   height: 1px

   background: rgba(31, 32, 65, 0.1)
.room_details__img
   display flex
   align-items: center
   margin: auto
   
.details__title_wrap
   display flex
   flex-wrap: wrap
   justify-content: left 
   max-width 230px
   margin-left 10px
   line-height: 24px

.room_details__title
   bold()
   font-size: 0.8571rem