mixin radio_button(options)
 - let checked = true
   .radio_btn_wrap
      h3.radio_btn__title= options.title
      ul.radio_btn__options
     
         each elem in options.elements
            li
               label.radio_btn__option
                  input(type="radio" name="gender" checked=checked)
                  span.radio__circle
                     span.circle__done
                  span.option__title=elem
                     
               - checked = false
            
         