mixin text_field(options)
    
	
	if options.type === undefined
		.text-field
			legend(class= options.title ? "text-field__title" : "")=options.title ? options.title : ""
			input(class = options.isDate ? " mask-date" : "")(type= "text" placeholder= options.placeholder required)   
			if options.btn_arrow !== false
			else
				a(href="#")
					i.material-icons arrow_forward
	else 
		.text-field
			legend(class= options.title ? "text-field__title" : "")=options.title ? options.title : ""
			input(class = options.isDate ? " mask-date" : "")(type= options.type placeholder=  options.placeholder required)
			if options.btn_arrow == none
			else
				a(href="#")
					i.material-icons.text-field_arrow arrow_forward