placeholder-input(color)
  input::-webkit-input-placeholder,
  input::-webkit-input-placeholder,
  input::-webkit-input-placeholder
   color color


.text_field__wrap
   max-width 320px
   width 100%
   
   .text-field__title
      bold()
      uppercase()
      display block
      font-size: 0.8571rem
   input 
      width: 100%
      // height: 44px
      border: 1px solid $black--25
      box-sizing: border-box;
      border-radius: 4px
      padding: 13px 35px 13px 15px
     

   placeholder-input($black--25)


.text-field__title
   margin-bottom: 5px

.field input:hover, .field input:focus
      border: 1px solid $black--50


input:hover::-webkit-input-placeholder { color:$black--75 }
input:hover::-moz-placeholder { color:$black--75 }
input:focus::-webkit-input-placeholder { color:$black--75 }
input:focus::-moz-placeholder { color:$black--75 }
.subs__btn
   position: relative
.text-field_arrow
   background: linear-gradient(#BC9CFF, #8BA4F9)
   -webkit-background-clip: text
   color: transparent 
   // vertical-align: middle
   right 10px
   top -3px
   position: absolute

.field
   margin-bottom 10px

.field__subs
   width: 267px;