placeholder-input(color)
  input::-webkit-input-placeholder,
  input::-webkit-input-placeholder,
  input::-webkit-input-placeholder
   color color


.text_field__wrap
   width 100%
   max-width: 320px
   .text-field__title
      bold()
      uppercase()
      font-size-12()
      display block
   input 
      width: 100%
      max-width: 320px
      box-sizing: border-box
      border: 1px solid $black--25
      border-radius: 4px
      padding: 13px 35px 13px 15px
   placeholder-input($black--25)

.text-field__title
   margin-bottom: 5px

.field input:hover, .field input:focus
      border: 1px solid $black--50

input:hover::-webkit-input-placeholder { color:$black--75 }
input:hover::-moz-placeholder { color:$black--75 }
input:focus::-webkit-input-placeholder { color:$black--75 }
input:focus::-moz-placeholder { color:$black--75 }

.subs__btn
   position: relative

.text-field_arrow
   background: linear-gradient(#BC9CFF, #8BA4F9)
   -webkit-background-clip: text
   color: transparent 
   right 10px
   top -3px
   position: absolute

.field
   margin-bottom 10px

.field__subs
   width: 267px;