placeholder-input(color)
  input::-webkit-input-placeholder,
  input::-webkit-input-placeholder,
  input::-webkit-input-placeholder
    color color


.text-field
   legend 
      font-family: $bold
   input 
      width: 320px
      // height: 44px
      border: 1px solid $black--25
      box-sizing: border-box;
      border-radius: 4px
      padding: 13px 35px 13px 15px
      margin-top: 15px
      position: relative

   placeholder-input($black--25)

   input:hover, :focus
      border: 1px solid $black--50


   input:hover::-webkit-input-placeholder { color:$black--75 }
   input:hover::-moz-placeholder { color:$black--75 }
   input:focus::-webkit-input-placeholder { color:$black--75 }
   input:focus::-moz-placeholder { color:$black--75 }

.text-field_arrow
   background: linear-gradient(#BC9CFF, #8BA4F9)
   -webkit-background-clip: text
   color: transparent 
   // vertical-align: middle
   margin-left -30px
   margin-top 25px
   position: absolute