.footer_wrap
   width 100%
   max-width 1440px
   height 427.5px;
   
   margin: 0 auto
   box-sizing: border-box;
.footer_widgets_wrap
   box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);

.footer_widgets
   display: flex
   align-content: flex-start
   height 378.5px - 78.5px
   max-width 1160px
   margin 0 auto
   padding: 78.5px 20px 0 20px

.footer_logo__block
   display: flex
   width 100%
   max-height: 130px
   max-width 260px
   flex-wrap: wrap

.footer_logo__text
   margin-top 20px

.footer_navigation__block
   margin-left 40px
   width 100%
   display: flex
   justify-content: space-between

.footer_navigation__title
   font-size: 12px
   bold()
   uppercase()

.footer_navigation__link
   margin-top 20px

.footer_navigation__link a:hover
   color: $purple

.footer_navigation__link a:focus
   border-bottom-style: solid
   border-color: $black--25
   margin-top 4px
   color: $purple



.footer_subscribe__block
   margin-left 87px
   max-width 260px

.footer_subscribe__text
   margin-top 20px

.footer_subscribe__text + .text_field__wrap
   margin-top 20px

.footer_subscribe__title
   font-size: 12px
   bold()
   uppercase()

.footer_wrap .field__subs
   width 260px


.footer_copyright_bar_wrap
   display flex
   margin: 0 auto
   height 70px
   box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)

.footer_copyright_bar
   display flex
   width 1160px
   margin: 0 auto
   padding: 0 20px
   justify-content: space-between
   align-items: center

.social_icons__list
   display flex
   justify-content: space-between

.social_icons__item:not(:last-child)
   margin-right 20px

.social_icons__item i
   font-size: 1.7143rem;
   gradient()
   -webkit-background-clip: text
   color: transparent 


/* footer creative */

.footer_creative_wrap
   width 100%
   height 367px;
   max-width 560px
   display flex
   flex-wrap: wrap
   justify-content: center
   margin: 0 auto
   align-content: flex-start;

.footer_creative_wrap .footer_logo__wrap
   margin-top 100px

.footer_creative__text
   margin-top 20px
   text-align: center
.footer_creative__social_icons
   margin-top 25px