include ./headers/header
include ./footers/footer

+header({userLogin: false, elems: [
   {menuName: "Home"},
   {menuName: "About Us"},
   {menuName: "Services",dropdown: true},
   {menuName: "Careers"},
   {menuName: "News"},
   {menuName: "Documentation"},
]})

+header({userLogin: true, elems: [
   {menuName: "Home"},
   {menuName: "About Us"},
   {menuName: "Services",dropdown: true},
   {menuName: "Careers"},
   {menuName: "News"},
   {menuName: "Documentation"},
]})

+footer({elems_nav: ["About Us", "News", "Support", "Products"],
         elems_about_us: ["Who we are", "Our team", "Careers", "Investors"],
         elems_Support: ["Documentation", "Community", "Get in Touch"],
         social_icons: [""]
         })

+footer({creative: true})