include ./headers/header


+header({userLogin: false, elems: [
   {menuName: "Home"},
   {menuName: "About Us"},
   {menuName: "Services",dropdown: true},
   {menuName: "Careers"},
   {menuName: "News"},
   {menuName: "Documentation"},
]})

+header({userLogin: true, elems: [
   {menuName: "Home"},
   {menuName: "About Us"},
   {menuName: "Services",dropdown: true},
   {menuName: "Careers"},
   {menuName: "News"},
   {menuName: "Documentation"},
]})