include ./text_field/text_field
include ./dropdown/dropdown
include ./checkbox/checkbox
include ./radio_button/radio_button
include ./room_details/room_details
include ./toggle/toggle
include ./like_button/like_button
include ./rate_button/rate_button
include ./range_slider/range_slider
include ./buttons/buttons
include ./pagination/pagination
include ./bullet_list/bullet_list
include ./reviews/reviews
include ./data_dropdown/data_dropdown


//- +text_field({title: "Text field", type:"email", placeholder: "Email"})
//- +text_field({title: "Text field", type:"text", placeholder: "ДД.ММ.ГГГГ", isDate: true})
+text_field({title: "Text field",  
   elems: [
      {type: "text", placeholder: "Text"},
      {type: "text", placeholder: "Text"}
   ]
   })

+text_field({title: "subscription text field", subscription: true,
   elems: [
      {},
   ]
   })

//- +checkbox({title: "Text field"})
//- +dropdown({title: "dropdown", headTitle: "Сколько гостей",
//-    elems: [
//-       {name: "взрослые"},
//-       {name: "дети"},
//-       {name: "младенцы"}
//-    ]
//-    })

//- +dropdown({title: "dropdown", headTitle: "Сколько гостей",
//-    elems: [
//-       {name: "взрослые"},
//-       {name: "дети"},
//-       {name: "младенцы"}
//-    ]
//-    })
//- +data_dropdown({firstDataName: "data Dropdown", lastDataName: "data Dropdown", id: 'data_dropdown'})

//- +data_dropdown({title: "filter dropdown", filter: true, id: 'data_dropdown'})

+checkbox({title: "expandable checkbox list",
            elems: ["Завтрак", "Письменный стол", "Стул для кормления","Кроватка", "Телевизор","Шампунь", "Телевизор","Шампунь"]
         })

+checkbox({title: "rich Checkbox Buttons", richCheckbox: true, 
elems: [
   {title: "Широкий коридор", 
   subTitle: "Ширина коридоров в номере не менее 91 см."},

   {title: "Помощник для инвалидов", 
   subTitle: "На 1 этаже вас встретит специалист  и проводит до номера."}
]})

//- +radio_button({title: "Radio Buttons", elements: ["Мужчина", "Женщина"]})

+room_details({elems: [
   {title: "Комфорт", subTitle: "Шумопоглощающие стены"},
   {title: "Удобство", subTitle: "Окно в каждой из спален"}
   ]})

+button({ border: true, name: "Войти"})
//- +toggle({
//-    title: "Toggle", elems: [
//-       {toggleName: "Получать спецпредложения"}
//-       ]
//- })

//- +like_button({title: "like button"})
//- +like_button({})

//- +rate_button("rate button")

+range_slider({title: "Range Slider"})

//- +button({title: "Buttons", submit: true, name: "перейти к оплате"})
//- +button({name: "click me", fill: true})
//- +button({name: "click me", border: true})
//- +button({name: "click me"})
//- +pagination({title: "pagination"})

//- +bullet_list({
//-    title: "bullet list",
//-    items: [
//-       { name: "Нельзя с питомцами" },
//-       { name: "Без вечеринок и мероприятий" },
//-       { name: "Время прибытия — после 13:00, а выезд до 12:00" }
//-    ]
//- })

+reviews({ 
   items: [
      {likeCheck: true},
      {}
   ]})