include ./text_field/text_field
include ./dropdown/dropdown
include ./checkbox/checkbox
include ./radio_button/radio_button
include ./room_details/room_details
include ./toggle/toggle
include ./like_button/like_button
include ./rate_button/rate_button
include ./range_slider/range_slider
include ./buttons/buttons
include ./pagination/pagination
include ./bullet_list/bullet_list
include ./reviews/reviews
include ./data_dropdown/data_dropdown
include ./pie_chart/pie_chart

div
   +text_field({title: "Text field",  
      elems: [
         {type: "text", placeholder: "Text"},
         {type: "text", placeholder: "Text"}
      ]
      })
div
   +text_field({title: "subscription text field", subscription: true,
      elems: [
         {},
      ]
      })
div
   +dropdown({title: "dropdown", headTitle: "Сколько гостей",
      elems: [
         {name: "взрослые"},
         {name: "дети"},
         {name: "младенцы"}
      ]
      })
//- div
//-    +dropdown({title: "dropdown", headTitle: "Сколько гостей",
//-       elems: [
//-          {name: "взрослые"},
//-          {name: "дети"},
//-          {name: "младенцы"}
//-       ]
//-       })
//- div
//-    +data_dropdown({firstDataName: "data Dropdown", lastDataName: "data Dropdown", id: 'data_dropdown'})
//- div
//-    +data_dropdown({title: "filter dropdown", filter: true, id: 'data_dropdown'})
//- div
//-    +checkbox({title: "expandable checkbox list",
//-                elems: ["Завтрак", "Письменный стол", "Стул для кормления","Кроватка", "Телевизор","Шампунь", "Телевизор","Шампунь"]
//-             })
//- div
//-    +checkbox({title: "rich Checkbox Buttons", richCheckbox: true, 
//-    elems: [
//-       {title: "Широкий коридор", 
//-       subTitle: "Ширина коридоров в номере не менее 91 см."},

//-       {title: "Помощник для инвалидов", 
//-       subTitle: "На 1 этаже вас встретит специалист  и проводит до номера."}
//-    ]})

//- div
//-    +radio_button({title: "Radio Buttons", elements: ["Мужчина", "Женщина"]})
//- div
//-    +room_details({elems: [
//-       {title: "Комфорт", subTitle: "Шумопоглощающие стены"},
//-       {title: "Удобство", subTitle: "Окно в каждой из спален"}
//-       ]})
//- div
//-    +button({ border: true, name: "Войти"})
//-    +toggle({
//-       title: "Toggle", elems: [
//-          {toggleName: "Получать спецпредложения"}
//-          ]
//-    })
//- div
//-    +like_button({title: "like button"})
//-    +like_button({})

//-    +rate_button("rate button")

//- div
//-    +range_slider({title: "Range Slider"})
//- div
//-    +button({title: "Buttons", submit: true, name: "перейти к оплате"})
//-    +button({name: "click me", fill: true})
//-    +button({name: "click me", border: true})
//-    +button({name: "click me"})
//-    +pagination({title: "pagination"})
//- div
//-    +bullet_list({
//-       title: "bullet list",
//-       items: [
//-          { name: "Нельзя с питомцами" },
//-          { name: "Без вечеринок и мероприятий" },
//-          { name: "Время прибытия — после 13:00, а выезд до 12:00" }
//-       ]
//-    })
div
   +reviews({ 
      items: [
         {likeCheck: true},
         {}
      ]})
div
   +pie_chart()