mixin dropdown(...names)
	.dropdown
		.dropdown__head
			.dropdown__title Сколько гостей
			i.material-icons.dropdown__arrow expand_more
		ul.dropdown__options.dropdown--hidden


			each name in names 
				li.dropdown__option
					span= name
					.calc
						button.calc__btn.btn_minus.disabled
							i -
						input.quantity(type="text" value="0" disabled)
						button.calc__btn.btn_plus
							i +
						
			.dropdown__controls
				span.dropdown__clear.hidden Очистить
				span.dropdown__select Применить
