.dropdown__wrap
   max-width 266px
   position relative

.dropdown__title
   bold()
   uppercase()
   margin-bottom 5px

.option__name
   bold()
   uppercase()

.calc__btn
   border: 1px solid $black--50
   border-radius: 50%  
   cursor pointer
   height 30px
   width 30px
   display flex
   align-items: center
   justify-content: center
   color: $black--50
   .material-icons
      font-size: 1.2857rem

.dropdown__head
   display flex
   align-items: center
   justify-content space-between
   width: 100%
   border: 1px solid $black--25
   box-sizing: border-box;
   border-radius: 4px 4px 0 0;
   padding: 10px 12px 
   color: $black--75
   
.dropdown__head:hover
   border: 1px solid $black--50

.dropdown--active
   border: 1px solid $black--50

.dropdown__arrow
   cursor pointer
   
.dropdown__options
   position: absolute
   background: white
   width: 100%
   border: 1px solid $black--50
   box-sizing: border-box;
   border-radius: 0 0 4px 4px;
   padding: 13px 12px 13px 12px
   border-top: none
   opacity: 1
   transition(0.3s)

.dropdown--hidden 
   transition(0.3s)

   max-height: 0;
   overflow: hidden;
   opacity: 0;




.dropdown__option 
   display flex
   align-items: center
   justify-content space-between
   
.calc
   display flex
   align-items: center
   input 
      width 20px
      padding 5px
      margin 10px
      text-align: center
      border: none
      font-size: 1.2rem
      background: none
.dropdown__controls
   margin-top 20px
   display flex
   align-items: center
   justify-content space-between
   font-weight: bold
   font-size: 12px
   text-transform: uppercase
   span 
      cursor pointer

.quantity
   bold()

.dropdown__select
   color $purple

.dropdown__clear
   color: $black--50

.disabled
   color: $black--25
   border: 1px solid $black--25
   cursor default

.hidden
   visibility hidden
   
.dropdown__large
   max-width 320px
   width 100%