mixin dropdown(options)
	.dropdown__wrap(class=options.big ? "dropdown__large" : "")
		.dropdown__title= options.title
		.dropdown__head
			.head__title= options.headTitle
			i.material-icons.dropdown__arrow expand_more
		ul.dropdown__options.dropdown--hidden


			each elem in options.elems 
				li.dropdown__option
					span.option__name= elem.name
					.calc
						button(type="button").calc__btn.btn_minus.disabled
							i.material-icons remove
						input.quantity(type="text" value="0" disabled)
						button(type="button").calc__btn.btn_plus
							i.material-icons add
						
			.dropdown__controls
				span.dropdown__clear.hidden Очистить
				+button({name: "Применить"})
