mixin dropdown(...names)
	.dropdown
		.dropdown_head
			.dropdown_title Сколько гостей
			i.material-icons.dropdown_arrow expand_more
		ul.dropdown_options.dropdown--hidden


			each name in names 
				li.option
					span= name
					.calc
						button.option_btn#btn_minus.disabled
							i -
						input.quantity(type="text" value="0" disabled)
						button.option_btn#btn_plus
							i +
						
			.controls
				span.dropdown__clear.hidden Очистить
				span.dropdown__select Применить
