
.option_btn
   border: 1px solid $black--50
   border-radius: 50%  
   cursor pointer
   height 25px
   width 25px
   text-align: center
   padding: 3px
   color: $black--50
   font-size: 1.5rem
.dropdown_title
   display flex
   align-items: center
   justify-content space-between
.dropdown_arrow
   margin-left -55px
   cursor pointer
.dropdown_options
   width: 266px
   border: 1px solid $black--25
   box-sizing: border-box;
   border-radius: 0 0 4px 4px;
   padding: 13px 12px 13px 12px
   border-top: none
   opacity: 1
   max-height: 100%
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -o-transition: all 0.5s;
   transition: all 0.5s;

.dropdown--hidden 
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -o-transition: all 0.5s;
   transition: all 0.5s;

   max-height: 0;
   overflow: hidden;
   opacity: 0;

input 
   width: 266px
   // height: 44px
   border: 1px solid $black--25
   box-sizing: border-box;
   border-radius: 4px 4px 0 0;
   padding: 13px 35px 13px 15px
   margin-top: 15px
.option 
   display flex
   align-items: center
   justify-content space-between
.calc
   display flex
   align-items: center
   input 
      width 20px
      padding 5px
      margin 10px
      text-align: center
      border: none
      font-size: 1.2rem
.controls
   margin-top 20px
   display flex
   align-items: center
   justify-content space-between
   span 
      cursor pointer
.select
   color red