.dropdown__wrap
   width 100%
   max-width 266px
   position relative
   z-index 99
   font-size: 0.8571rem

.dropdown__title
   bold()
   uppercase()
   font-size: 0.8571rem
   margin-bottom 5px

.option__name
   bold()
   uppercase()

.calc__btn
   border: 1px solid $black--50
   border-radius: 50%  
   cursor pointer
   height 30px
   width 30px
   display flex
   align-items: center
   justify-content: center
   flex-shrink: 0
   color: $black--50
   .material-icons
      font-size: 1.2857rem

.dropdown__head
   display flex
   align-items: center
   justify-content space-between
   width: 100%
   border: 1px solid $black--25
   box-sizing: border-box;
   border-radius: 4px 4px 0 0;
   padding: 10px 12px 
   color: $black--75
   
.dropdown__head:hover
   border: 1px solid $black--50

.dropdown__arrow
   cursor pointer
   color: $black--50
   
.dropdown__options
   position: absolute
   background: white
   width: 100%
   // max-height: 160px;
   border: 1px solid $black--50
   border-top: inherit
   box-sizing: border-box;
   border-radius: 0 0 4px 4px;
   padding: 13px 12px 13px 12px
   transition(0.3s)
   display none

.dropdown--active
   display block
   transition(0.3s)

.dropdown__head--active
   border: 1px solid $black--50
   

.dropdown__option 
   display flex
   align-items: center
   justify-content space-between
   margin-bottom 7px
   font-size: 0.8571rem
   
.calc
   display flex
   align-items: center
   justify-content: space-between
   width 92px
   input 
      width 32px
      text-align: center
      border: none
      background: none
.dropdown__controls
   margin-top 20px
   display flex
   align-items: center
   justify-content space-between
   font-weight: bold
   font-size: 12px
   text-transform: uppercase
   span 
      cursor pointer

.dropdown__wrap .quantity
   bold()

.dropdown__select
   color $purple

.dropdown__clear
   color: $black--50

.dropdown__clear:hover
   color: $black--75

.dropdown__wrap .disabled
   color: $black--25
   border: 1px solid $black--25
   cursor default

.dropdown__wrap .hidden
   visibility hidden
   
.dropdown__large
   max-width 320px
   width 100%