.booking_card__wrap
   width: 380px;
   height: 511px;

   border: 1px solid rgba(0, 0, 0, 0.12);
   box-sizing: border-box;
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
   display: flex
   flex-wrap: wrap
   padding: 40px 30px 30px 30px

.booking_card__title
   display: flex
   justify-content: space-between
   width 100%
   align-items: center

.room_number__lux
   color: $purple

.booking_card__info
   bold()
.room_number
   bold()
   font-size: 1.7143rem

.room_price
   bold--50()

.booking_card__title + .data_dropdown__wrap
   margin-top 20px

.data_dropdown__wrap + .dropdown__wrap
   margin 20px 0

.booking_card__calculate_list + .button_wrap
   margin-top 20px
   
.booking_card__calculate_list
   width 100%
   
   li
      margin-top 10px
      display: flex
      justify-content: space-between
   .total_price
      margin-top 30px
      bold()
      font-size: 1.3571rem
.calculate__column
   flex-basis: 220px


.calculate__tooltip
   font-family: Montserrat-Bold;
   display inline-flex
   justify-content: center
   align-items: center
   font-weight 800
   font-size: 12px;
   color: $black--25
   width: 20px;
   height: 20px;
   border: 1px solid
   border-radius: 50%

.result__column
   flex-basis: 70px
   text-align: right

.calculate__line
   display inline-flex
   margin-top 16px
   width: 175px;
   height: 1px;

   border: 1px dashed rgba(31, 32, 65, 0.25);
   box-sizing: border-box;
