include ../../form_elements/buttons/buttons

mixin header(options)
	- let i = 1
	.header_wrap
		.header
			.header__logo
				a(href="#").logo__link
					img(src="./blocks/headers_footers/headers/img/logo_toxin.svg", alt="#")
					img(src="./blocks/headers_footers/headers/img/logo_text_toxin.svg", alt="#")
			.header_navbar__block
				nav.navbar_wrapper
					ul
						each elem in options.elems    
							li(class= (options.navActive & i==1) ? "-active-" : "")
								a.navbar__link(href="#")= elem.menuName ? elem.menuName : "О нас"
									-  if(elem.dropdown === true)
										i.material-icons.navbar__arrow expand_more
							-	i++
						
				.navbar_user__logged(class= options.userLogin ? "" : "-hidden-") Юлий Цезарь
		
				.navbar_login__block(class= options.userLogin ? "-hidden-" : "")
					+button({border: true, name: "Войти"})

					+button({name: "Зарегистироваться", fill: true})