.header_wrap
   width 100%
   height 70px
   margin: 0 auto
   box-sizing: border-box;
   box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)

.header
   width 100%
   max-width 1160px + 40px
   min-width 500px
   padding: 0 20px
   margin: 0 auto
   height 100%
   box-sizing: border-box
   display flex
   justify-content space-between
   align-items: center
   color: $black--50

.header_navbar__block
   display flex
   justify-content space-between
   align-items: center

.navbar_wrapper
   display flex
   flex-wrap: nowrap
   align-items: center
   ul
      display flex
      justify-content space-between
      flex-wrap: nowrap
      align-items: center
   li
      display flex
      flex-wrap: nowrap
      justify-content space-between
      align-items: center
      flex-shrink: 0
      margin-right 28px
      

.navbar__link
   color: $black--50

.-active- .navbar__link
   bold()

.navbar__link
   display flex
   align-items: center

.navbar__link:hover
   color: $purple

.navbar__link:focus
   border-bottom-style: solid
   border-color: $black--25
   margin-top 4px
   color: $purple

.logo__link
   display flex
   align-items: center
   flex-basis: 35%
   img:nth-child(2)
      margin-left 12.5px

.header_wrap .-hidden-
   display none
   
.header_wrap .button_border_wrap, .header_wrap .button_fill_wrap
   height 34px

/* Авторизованный пользователь */

.navbar_user__logged
   display flex
   align-items: center

.navbar_user__logged:before
   content: ''
   width 1px
   height 30px
   margin-right 28px
   background rgba(31, 32, 65, 0.1)  

/* Гость без авторизации */

.navbar_login__block
   display flex
   align-items: center
   justify-content space-between
   
   .button_wrap:first-child
      margin-right 20px