@import 'fonts/fonts.styl';
@import 'blocks/colors_type/colors_type.styl';
@import 'blocks/form_elements/form_elements.styl';
@import 'blocks/cards/cards';
@import 'blocks/headers_footers/headers_footers';

@import '../node_modules/ion-rangeslider/css/ion.rangeSlider.css';
@import '../node_modules/air-datepicker/dist/css/datepicker.min.css';
@import '../node_modules/slick-carousel/slick/slick.css';
@import '../node_modules/slick-carousel/slick/slick-theme.css';

/* обнуление стандартных стилей */
*   
    margin: 0
    padding: 0
    list-style-type: none
    text-decoration: none
:active, :hover, :focus
    outline: 0
    outline-offset: 0
    

a
    color: black

button 
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent

html
    font-family: 'Montserrat-Regular', sans-serif
    


/* --- Landing page --- */

.landing_wrap
    width 100%
    // max-width 1440px
    margin: 0 auto
    height 830px
    background: url(img/landing_page.png) no-repeat center;
    background-size: cover;

.landing_content
    max-width 1160px
    margin: 0 auto
    display: flex
    justify-content: space-between
    padding: 0 20px


.landing_wrap .room_search_card__wrap
    margin-top 70px
.landing_text
    margin-top 764px
    max-width 297px
    text-align: right 


/* --- Sign in page --- */

.sign_in_wrap
    width 100%
    margin: 0 auto
    height 703px
    background: url(img/registr_sign_in_bgr.png) no-repeat center;
    background-size: cover;

.sign_in_content
    max-width 1160px
    height 100%
    margin: 0 auto
    display: flex
    justify-content: center
    align-items: center
    padding: 0 20px

/* --- Registration page --- */

.registration_wrap
    width 100%
    margin: 0 auto
    height 703px
    background: url(img/registr_sign_in_bgr.png) no-repeat center;
    background-size: cover;

.registration_content
    max-width 1160px
    height 100%
    margin: 0 auto
    display: flex
    justify-content: center
    align-items: center
    padding: 0 20px

/* --- Search page --- */

.search_room_page
    width 100%
    margin: 0 auto
    height 1003px

.search_room_content
    max-width 1160px
    margin: 0 auto
    display: flex
    justify-content: space-between
    padding: 0 20px

// .filter_column
//     width 270px
.rooms_column
    width 100%
    margin-left 60px