<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./ui_kit.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        title Ui kit

    body
        .wrapper
            include blocks/colors_type/colors_type
        .wrapper
            include blocks/form_elements/form_elements
        //- <script type="text/javascript" src="../node_modules/jquery/src/jquery.js"></script>
        