@import 'fonts/fonts.styl';

@import 'blocks/colors_type/colors_type.styl';

@import 'blocks/form_elements/form_elements.styl';
@import 'blocks/form_elements/text_field/text_field.styl';  
@import 'blocks/form_elements/checkbox/checkbox.styl';
@import 'blocks/form_elements/dropdown/dropdown.styl';

*   
    margin: 0
    padding: 0
    list-style-type: none
:active, :hover, :focus
    outline: 0
    outline-offset: 0
body
    height 200vh
    font-family: 'Quicksand-Regular','Montserrat-Regular', sans-serif
.wrapper
    margin: 6vw
    display: flex
    justify-content space-between