<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./ui_kit.css")
        link(rel="stylesheet", href="../node_modules/ion-rangeslider/css/ion.rangeSlider.css")
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        title Ui kit
        
    body
        .section_ui_kit
            include blocks/colors_type/colors_type
        .ui_kit_line
        .section_ui_kit
            include blocks/form_elements/form_elements
        .ui_kit_line
        .section_ui_kit
            include blocks/header/header
        //- <script type="text/javascript" src="../node_modules/jquery/src/jquery.js"></script>