
mixin room_search_card()
   
   .room_search_card__wrap
      .room_search_card__title
         h1 Найдём номера под ваши пожелания
      .room_search_card__body
         +data_dropdown({nameOne: "прибытие", nameTwo: "выезд", id: "room_search"})
         +dropdown({title: "гости", headTitle: "Сколько гостей", big: true,
                  elems: [
                     {name: "взрослые"},
                     {name: "дети"},
                     {name: "младенцы"}
                  ]
                  })
         +button({name: "подобрать номер", arrowBtn: true})