include ../../form_elements/data_dropdown/data_dropdown

mixin room_search()
   
   .room_search__wrap
      .room_search__title
         h1 Найдём номера под ваши пожелания
      .room_search__title
         +data_dropdown({nameOne: "прибытие", nameTwo: "выезд", id: "room_search"})