include ../../form_elements/text_field/text_field
include ../../form_elements/buttons/buttons
include ../../form_elements/data_dropdown/data_dropdown
include ../../form_elements/dropdown/dropdown


mixin room_search_card()
   
   .room_search_card__wrap
      form()#room_search_card
         .room_search_card__title
            h1 Найдём номера под ваши пожелания
         .room_search_card__body
            +data_dropdown({nameOne: "прибытие", nameTwo: "выезд", id: "room_search"})
            +dropdown({title: "гости", headTitle: "Сколько гостей", big: true,
                     elems: [
                        {name: "взрослые"},
                        {name: "дети"},
                        {name: "младенцы"}
                     ]
                     })
            +button({name: "подобрать номер", submit: true})