include ../form_elements/buttons/buttons

.header_wrap
    .header
        .header__logo
            a(href="#").logo__link
                img(src="./blocks/header/img/logo_toxin.svg", alt="#")
                img(src="./blocks/header/img/logo_text_toxin.svg", alt="#")
        nav.header__navbar-wrapper
            ul
                li
                    a.navbar__link.--bold(href="#") Главная     
                li
                    a.navbar__link(href="#") О нас
                li
                    a.navbar__link(href="#") Услуги
                    i.material-icons.navbar__arrow expand_more
                    
                li
                    a.navbar__link(href="#") Вакансии
                li
                    a.navbar__link(href="#") Новости
                li
                    a.navbar__link(href="#") Соглашения
        
        .header__user_logged Cosmin Negoita

        .header__login_block
            +button({border: true, name: "Login"})

            +button({name: "Register", fill: true})