.registration_card__wrap
   width 100%
   max-width: 380px
   height: 646px
   border: 1px solid rgba(0, 0, 0, 0.12)
   box-sizing: border-box
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
   border-radius: 4px
   display: flex
   flex-wrap: wrap
   padding: 40px 30px 30px 30px
   background: $white
   z-index 0
   form
      width 100%

.registration_card__body
   margin-top 20px

.radio_btn_wrap + .text_field__wrap
   margin 20px 0

.toggle_wrap + .button_wrap
   margin 20px 0 30px 0

.registration__block-sign_in .button_wrap
   max-width 91px

.registration__block-sign_in
   display: flex
   justify-content: space-between
   align-items: center
   color: #000