include ../blocks/headers_footers/headers/header
include ../blocks/headers_footers/footers/footer

<!DOCTYPE html>
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      //- link(rel="stylesheet", href="../node_modules/ion-rangeslider/css/ion.rangeSlider.css")
      //- link(rel="stylesheet", href="../node_modules/air-datepicker/dist/css/datepicker.min.css")
      //- link(rel="stylesheet", href="../node_modules/slick-carousel/slick/slick.css")
      //- link(rel="stylesheet", href="../node_modules/slick-carousel/slick/slick-theme.css")
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous")
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

      link(rel="stylesheet", href="./ui_kit.css")
      //- link( href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js")
      title
         block title
   body
      
      +header({userLogin: false, elems: [
               {menuName: "Home"},
               {menuName: "About Us"},
               {menuName: "Services",dropdown: true},
               {menuName: "Careers"},
               {menuName: "News"},
               {menuName: "Documentation"},
            ]})
      block content

      +footer({elems_nav: ["About Us", "News", "Support", "Products"],
               elems_about_us: ["Who we are", "Our team", "Careers", "Investors"],
               elems_Support: ["Documentation", "Community", "Get in Touch"],
               social_icons: [""]
               })  

         