include ../blocks/headers_footers/headers/header
include ../blocks/headers_footers/footers/footer

<!DOCTYPE html>
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous")
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

      link(rel="stylesheet", href="./style.css")
      title
         block title
   body
      
      +header({userLogin: false, elems: [
               {menuName: "О нас"},
               {menuName: "Услуги", dropdown: true},
               {menuName: "Вакансии"},
               {menuName: "Новости"},
               {menuName: "Соглашения", dropdown: true},
            ]})
      block content

      +footer({logoText: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
         
               columnTitile_1: "Навигация", columnTitile_2: "О нас", columnTitile_3: "Служба поддержки",
               
               elems_nav: ["О нас", "Новости", "Служба поддержки", "Услуги"],
               elems_about_us: ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"],
               elems_Support: ["Соглашения", "Сообщества", "Связь с нами"],

               subscribeTitle: "Подписка", subscribeText: "Получайте специальные предложения и новости сервиса",
               social_icons: [""],
               copyrightText: "Copyright © 2018 Toxin отель. Все права защищены."
               })  

      script(src="./main.js")