.header_wrap
  margin: 0 auto
.header
   display flex
   flex-wrap: nowrap
   justify-content space-around
   width 950px
   align-items: center  

.navbar-wrapper
   display flex
   flex-wrap: nowrap
   justify-content space-between
   width: 527px
   align-items: center
   
.logo
   display flex
   align-items: center